body{
    background-image: url("todo.jpg");
    
}
.navbar{
    background-color: blue;
    /* margin-left:16.2%;
    margin-right:14.6%; */
    width:100%;
}
.navbar a{
    color:white;
    text-decoration: none;
    font-size: 24px;
    padding-left:200px;
    padding-right: 205px;
}
.navbar a:hover{
    color: white;
    text-decoration: none;
}
ul{
    list-style: none;
   
    margin-left:5%;
    margin-right:8%;
}

li{
    font-size:20px;
    margin-left:10%;
    margin-right:7%;
}
    
